# Privy
NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_PRIVY_CLIENT_ID=

# Chain
NEXT_PUBLIC_KITPOT_RPC_URL=http://localhost:8545
NEXT_PUBLIC_KITPOT_CHAIN_ID=
NEXT_PUBLIC_CONTRACT_ADDRESS=
NEXT_PUBLIC_USDC_ADDRESS=

# Foundry deploy
PRIVATE_KEY=
KITPOT_RPC_URL=http://localhost:8545
