# Dependencies
node_modules/

# Next.js
.next/
out/

# Foundry
contracts/cache/
contracts/out/

# Environment
.env
.env.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel
testwallet
refs
refs/
